  #bg{
    width:100%;
    /*  height:600px;
        */  overflow:hidden;
    position: relative;
    /*background-image: url('../images/pat.png');
        background-size: cover;*/


  }
  .row-centered{text-align: center;}
  #bg:after {
    content: "";
    width:100%;
    background: url(../images/video-bg.png);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.5;
  }
  #bg_container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .section{color:#4c4c4c; padding-bottom:60px; background: white; text-align: center;} 
  .about-def{ box-shadow: 0px -2px -0px 0px #fafafa; background:url("../images/about-bg-shape.png") no-repeat white;  background-size: cover;  }
  .contact-def{ box-shadow: 0px -2px -0px 0px #DADADA; background:url("../images/about-bg-shape.png") no-repeat white;  background-size: cover;  }
  .members-def{  background:url("../images/members-bg.png") no-repeat #fafafa;  background-size: contain; box-shadow: 0px -2px -0px 0px #DADADA;}
  .team-def{ text-align: left; }

  .section h2{   margin:auto; font-size: 2.5em; font-weight: 300; width: 400px; height: 100px; background:url('../images/about-title-bg.png') no-repeat;}
  .section h3{padding:10px;font-size: 1.5em; font-weight: 300;color:#de6a25;}
  .section p{font-size: 1em; font-weight: 300;color:#8b8b8b;}
  .section .section-bg-shape {
    top: -61px;
    margin: auto;
    display: block;
    width: 280px;
    height: 62px;
    position: relative;
  }
  .section .about-shape{background: url('../images/about-shape.png');}
  .section .gall-shape{background: url('../images/gall-shape.png');}
  .section .members-shape{background: url('../images/about-shape.png');}
  .section .partners-shape{background: url('../images/members-shape.png');}
  .section .contact-shape{background: url('../images/about-shape.png');}
  .section .video-shape{background: url('../images/video-shape.png');}
  .section .team-shape{background: url('../images/video-shape.png');}
  .youtube-section{background: #de6a25; padding: 100px 0px 150px 0px; color:white; font-weight: 300; font-size: 1em;text-transform: uppercase;}
  .gall-section{box-shadow: 0px -2px 0px #e6e3e1;}
  .team-section{margin-bottom: 100px; box-shadow: 0px -2px 0px #e6e3e1;}
  .partners-section{margin-bottom: 100px; box-shadow: 0px -2px 0px #e6e3e1;}
  .video-section{margin-bottom: 100px; box-shadow: 0px -2px 0px #e6e3e1;}
  .about-content{position: relative; top:-30px;}
  .gall-content{position: relative; top:-30px;}
  .members-content{position: relative; top:-30px;}
  .partners-content{position: relative; top:-30px;}
  .contact-content{position: relative; top:-30px;}
  .video-content{position: relative; top:-30px;}
  .team-content{position:relative; top:-30px; }
  .contact-holder{padding:50px 0;}
  #video-holder{    top: 45px;
    position: relative;}
  #team-holder{ padding: 100px 0px;}
  #sponsors-carousel{top:50px;bottom: 50px; height: 200px;}
  .section .about-img{ background: url('../images/vector-logo.png') no-repeat;}
  .section .gall-img{ background: url('../images/gallery-logo.png') no-repeat; left:30px;}
  .section .members-img{ background: url('../images/members-logo.png') no-repeat; left:40px;}
  .section .partners-img{ background: url('../images/partners-logo.png') no-repeat; left:40px;}
  .section .contact-img{ background: url('../images/contact-logo.png') no-repeat; left:40px;}
  .section .video-img{ background: url('../images/video-logo.png') no-repeat; left:40px;}
  .section .team-img{ background: url('../images/team-logo.png') no-repeat; left:40px;}
  .team-left{text-align: left;}
  .team-right{text-align: right;}
  .section .logo {
     top: -100px;
     margin: auto;
     display: block;
     width: 136px;
     height: 61px;
     position: relative;
   }

  .footer{
    background: #de6a25;
    color:white;
    text-align: center;

  }
  .video-section h4{font-weight: 300;font-size: 1em;text-align: left;padding:5px 0px 5px 30px;}

  .video-section .btn-join-vim{background: url("../images/vim-logo.png") no-repeat; width:40px; }
  .footer .btn-join-fb{background: url("../images/fb-logo.png") no-repeat; width:40px; }
  .team-section .btn-join-fb{background: url("../images/fb-logo.png") no-repeat; width:40px; }
  .footer .btn-join-tw{background: url("../images/twitter-logo.png") no-repeat; width:40px; }
  .youtube-section .btn-join-fb{background: url("../images/twitter-logo.png") no-repeat; width:40px; }
  .team-setion .btn-left{margin-left:;}
  .team-setion .btn-rght{margin-left:;}
  .video-section .btn-join,.video-section .btn-join:hover{
    border:1px solid #999999;
    border-radius: 2px!important;
    -webkit-border-radius: 2px!important;
    -moz-border-radius: 2px!important;
    width:84%;
    cursor: pointer;
    padding: 20px 30px;
    margin-top: 20px;
    margin:auto!important;
    /*margin-left: 50px;*/
    position: relative;
  }

  .team-section .btn-join,.team-section .btn-join:hover{
    border:1px solid #999999;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width:100%;
    cursor: pointer;
    padding: 20px 30px;
    margin-top: 100px;
    /*margin-left: 50px;*/
    position: relative;
  }
  .footer .btn-join,.footer .btn-join:hover{
    border:1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width:100%;
    cursor: pointer;
    padding: 20px 30px;
    margin-top: 40px;
    position: relative;
  }
  .youtube-section .btn-join,.youtube-section .btn-join:hover{
    border:1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width:100%;
    cursor: pointer;
    padding: 20px 30px;
    margin-top: 40px;
    position: relative;
  }
  #overlayContent{
  
    position: fixed;
    width: 800px;
    /*height: 400px;*/
    top: 50%;
    left: 50%;

    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 1000001;
  }
    #overlayContent{ margin-top: -300px; margin-left: -400px;}
     #overlay{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0px; 
    left: 0px; 
    background-color: #000; 
    opacity: 0.7;
    filter: alpha(opacity = 70) !important;
    display: none;
    z-index: 1000000;
    cursor: pointer;
  }
  .footer p{
    padding: 30px;
  }
  .persons, article{
    margin:50px 0;
  }
  
/* ----------- Navigation start ------------*/

.navbar .navbar-nav {
        padding-top:26px;
    display: inline-block;
    float: none;
    vertical-align: top;}
    .nav-spec{color: gray;}
    .navbar-toggle {
      width: 100%;
      float: none;
      margin-right: 0;
      }
  .navbar .navbar-collapse {text-align: center;}
  .nav {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    opacity: 1;
    -moz-transition: opacity 1000ms ease-in-out 3800ms;
    -o-transition: opacity 1000ms ease-in-out 3800ms;
    -webkit-transition: opacity 1000ms ease-in-out 3800ms;
    transition: opacity 1000ms ease-in-out 3800ms; }
  .nav:before, .nav:after {
      content: " ";
      display: table; }
    .nav:after{clear: both; }
    /*.nav li {
      float: left;
      position: relative; }*/
    .nav li a{
      font-size: 1em;
      opacity: 0.9;
      color: #666;
      text-decoration: none; }
    
    .nav.hidden {opacity: 0;}
  .polygons-holder{
    position:relative;
    top:0px;}
  .nav li a:hover, {
    font-size: 14px;
    opacity: 0.9;
    color: #666;
    background:white;
    text-decoration: none;
    border-bottom: 2px solid #f7921e;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.active{
     opacity: 0.9;
    color: #666;
    background:white;
    text-decoration: none;
    border-bottom: 2px solid #f7921e;
}
.focusedNone{
  border:1px!important;
  border-color: 0px rgba(82,168,236,.8) ;
    outline: 1px!important;
    -moz-box-shadow: 0 0 1px gray !important;
    box-shadow: 0 0 1px gray !important;
}
.navbar-toggle{
  position:relative;
  float:right;
  
  background-color:transparent;
  background-image:none;
  border:1px solid transparent;
  border-radius:4px}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
{
    outline:none !important;
    -webkit-appearance:none;
}
  .logo-holder{
      background: url('../images/logo-holder.png') no-repeat bottom center rgba(255, 255, 255, 0);
    padding: 0px 71px;
      display: block;
      padding-bottom: 32px !important;
    margin-top: -32px !important;
  }
  textarea{height: 80px !important;resize: none;}
  input[type='text'],input[type='email'],textarea{
    border-radius:1px !important;
  }
.img-circle {margin-top: 45px;}
  ::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  }

  :-moz-placeholder { /* Firefox 18- */
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;}

  ::-moz-placeholder {  /* Firefox 19+ */
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  }

  :-ms-input-placeholder {  
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  }
  .send-btn{background:#de6a25; font-weight:300;width:100%; height:40px;padding:12px 0; font-size:0.8em; color:white; border-radius:0px;outline:none;border:0px white; cursor:pointer;  text-transform: uppercase;}
  .contact-text-holder{text-align: left; font-weight: 300;}
  .contact-text-holder p {font-size: 0.8em;padding-left: 10px;}
  .contact-text-holder h3 {font-size:1em; margin:0; padding-left: 10px;}
  .contact-text-holder .first {margin-top: 40px;}
/* ----------- Navigation end ------------*/

  .navbar{height:97px;background: white;  box-shadow: 0px 2px -0px 0px #dadada;}
  .video-thumb{ border:2px solid gray;  margin:auto!important;width:300px;height:178px;display: block;}
  /*.video-thumb a{top:25%;position: relative; background: url('../images/play-grey.png');width: 76;height: 76;display: block;}
  .video-thumb a:hover, .video-thumb a:active, {top:25%;position: relative;background: url('../images/play-orange.png');width: 76;height: 76;display: block;position: relative;}
*/


  .video-thumb img{top:25%;position: relative; }



  @media screen and (min-width: 1200px){
    .footer .btn-join::after{
      content: url("../images/after-btn.png");
      position: absolute;
      margin-left: 20px;
    }
  }
  @media screen and (min-width: 991px) and (max-width: 1200px){
    .footer .btn-join::after{
      content: url("../images/after-btn.png");
      position: absolute;
      margin-left: 20px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px){
    .footer .btn-join::after{
      content: "";
    }
  }
  @media screen and (min-width: 240px) and (max-width: 768px){
    .footer .btn-join::after{
      content: "";
    }
  }
/*
@media(min-width:340px) and (max-width: 690px){

      

}


@media (max-width: 319px){


}

@media (min-width: 320px) and (max-width: 420px){
 

}

@media (min-width: 421px) and (max-width: 767px){


}
@media (min-width: 320px) and (max-width: 768px){
 

}

@media  (min-width: 768px) and (max-width: 991px) {


}
@media  (min-width: 992px) and (max-width: 1140px) {

}

@media (min-width: 1141px) and (max-width: 1200px) {


}
@media (min-width: 1200px) and (max-width: 1460px) {
 
}
@media (min-width: 1460px)and (max-width: 2000px) {

}
@media (min-width: 2000px) {
  
}*/